<div id="social-signin-links" class="border-top mt-3 pt-3">
  <div class="text-center">
    <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>
      <%= link_to(
        content_tag(:i,
          method.provider == 'google_oauth2' ? method.provider.slice(0, 6) : method.provider,
          class: "d-inline-block icon-spree-#{method.provider.to_url} custom_social_btn"
        ),
        path_for_omniauth(@spree_user, method.provider),
        id: method.provider.to_url,
        title: Spree.t(:sign_in_with, provider: method.provider),
        class: 'd-inline-block'
      ) if method.active %>
    <% end %>
  </div>
</div>
